# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Build Test

on:
  push:
    paths-ignore:
      - '**.md'
    # Skip commits that start with 'chore:'
    branches-ignore:
      - 'chore/**'

jobs:
  build:
    strategy:
      matrix:
        arch: [amd64]
        os: [linux, darwin]
        include:
          - os: linux
            runs_on: ubuntu-latest

          - os: darwin
            runs_on: macos-latest

    runs-on: ${{ matrix.runs_on }}
    if: "!contains(github.event.head_commit.message, 'chore')"

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: 0


    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: build
      run: make -B

    - name: build-systray
      run: make -B SYSTRAY=true

    - name: test
      run: make ci-test
